body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #575757;
    text-align: center;
    color: #333;
    overflow-x: hidden;
}

.status, .status1 {
    background-color: #cacaca7c;
}

header {
    background: linear-gradient(to bottom, #0078d4, #575757);
    color: #ffffff;
    padding: 20px 0;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: -40px;
}

h1 {
    margin-top: -5px;
    color: #fcfcfc83;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.status {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 15px;
}

.status-up {
    background-color: #28a745;
    box-shadow: #006919 0 0 10px;
}

.status-down {
    background-color: #dc3545;
    box-shadow: #7c000d 0 0 10px;
}

.status-fixing {
    background-color: #dca235;
    box-shadow: rgb(124, 70, 0) 0 0 10px;
}

.details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details.hidden {
    display: none;
}

.details.visible {
    display: block;
}

footer {
    background: linear-gradient(to top, #0078d4, #575757);
    color: #050505;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    margin: 0 auto;
}

.logo {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    transition: all 0.3s ease-in-out;
}

.lut {
    font-size: 12px;
    color: #0505057e;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.status1 {
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
}

a {
    color: #050505;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#overall-status-text {
    font-size: 30px;
    font-weight: bold;
}

.status:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #overall-status-text {
        font-size: 20px;
        font-weight: bold;
    }

    .status {
        font-size: 11px;
        padding: 10px;
    }

    .status1 {
        font-size: 16px;
        padding: 12px;
    }

    .logo {
        width: 80px;
    }

    .lut {
        font-size: 10px;
    }
}
